<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

	<script src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{url_for('static', filename='js/jquery.js') }}"></script>
	<script src="{{url_for('static',filename='js/fblogin.js') }}"></script>

    <title>Make My Wiki</title>
</head>

<body>

	<div style="text-align:center" class="jumbotron">
		<h1>Welcome</h1>
		<h2>Use your Facebook and LinkedIn profiles to make your own Wikipedia Page!</h2>
	</div>

	<div style="text-align:center">
		<fb:login-button scope="public_profile,email,user_friends,user_relationships,user_relationship_details" onlogin="checkLoginState();" autologoutlink="true">
		</fb:login-button>

		<div id="status">
		</div>

	</div>

	<br>

	<div style="text-align:center">
		<button type="button" class="btn btn-lg btn-primary" onclick="sendAccessToken()">Generate</button>
	</div>

</body>
</html>